.court-image {
    width: 100px;
    height: 100px;
}

.court-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.court-item {
    margin-top: 10px;
}

.court-item:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.court-item-holder {
    text-decoration: none !important;
    color: black;
}
.court-item-holder:hover {
    color: black;
}