@font-face {
  font-family: 'kanit';
  src: url('./font/Kanit-Regular.ttf'); 

}

.App {
  text-align: center;
  font-family: 'kanit';
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-content {
  padding-top: 30px;
}

body {
  background-attachment: fixed;
  background: linear-gradient(154.93deg,#3d7cfb 0%,#35dbf7 50%,#4cc992 100%);
}

button, .modal-body, a {
  font-family: 'kanit' !important;
}